@model Quizzz.Core.Models.MultiAnswersViewModel

@{
    ViewData["Title"] = "Create";
   
}


<h2>Add answers for</h2>
<h2>@Html.Label("", ViewData["LastQuestion"]?.ToString())</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">


            
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                <label asp-for="Answers[0].Content" class="control-label"></label>
                <input asp-for="Answers[0].Content" class="form-control" />
                <span asp-validation-for="Answers[0].Content" class="text-danger"></span>
                </div>

                <div class="form-check">
                    <label class="form-check-label">
                    <input class="form-check-input" asp-for="@Model.Answers[0].IsCorrect" type="radio" name=check01 value="check01"/> Correct answer
                </label>
                </div>
               

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Answers[1].Content" class="control-label"></label>
                <input asp-for="Answers[1].Content" class="form-control" />
                <span asp-validation-for="Answers[1].Content" class="text-danger"></span>
            </div>

            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="@Model.Answers[1].IsCorrect" type="radio" name=check02 value="check01" /> Correct answer
                </label>
            </div>
            

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" id = "checkBtn"/>
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
