@model Quizzz.Core.Models.TestResultViewModel
@{
}
<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">RESULTS</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">@Model.CorrectAnswers <small class="text-muted">/ @Model.TotalAnswers</small></h1>
                
               
                @using (Html.BeginForm("Index", "Test", FormMethod.Post))
                {
                    <button type="submit"  class="btn btn-lg btn-block btn-outline-primary">Back to tests</button>
                }
                
            </div>
        </div>
       
    </div>
</div>


    